//////////////VARIABLES
$primary-color: #DCD0C0;
$secondary-color: #C0B283;
$tertiary-color: #373737;
$quaternary-color: #F4F4F4;
@mixin mobile-only {
    @media screen and (max-width: 768px){
        @content;
    }
}

* {
  box-sizing: border-box;
  font-family: arial;
  font-size: 12px;
  color: $tertiary-color
}
body {	
	width: 960px;
	height: auto;
	margin: 0 auto;
	font-size:14;
	@include mobile-only{
		width:100%;
		background-color:$quaternary-color;		
    }
	
}
section{
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"c a"
	"c nav"
	"d b"
	"e b"
	"f b"
	;
	@include mobile-only{
		width:100%;
		display: grid;
		grid-template-columns: 50%;
		grid-template-areas: 		
		"c a"
		"nav nav"
		"b b"
		"e e"	
		"f f"
		"d d"
		;	
    }
}
///////////////////////////////////////////////header
.title {
	grid-area:title;
	margin: 40px 50px;
	text-align: right;
	animation-name: title;
	animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);	
	@include mobile-only{
		margin: 80px auto;
	}
	h1 {
		font-size:40px;
		margin: 0 auto;
		@include mobile-only {			
			text-align: left;
		}
	}
	h2 {
		font-size:20px;
		text-align: center-right;
		margin: 0 auto;
		text-decoration: underline solid $secondary-color;
		@include mobile-only {			
			text-align: left;
		}	
	}
}
@keyframes title {
        0%   { transform: translateX(0); }
        10%  { transform: translateX(0); }
        30%  { transform: translateX(-35px); }
        50%  { transform: translateX(0); }
        57%  { transform: translateX(-7px); }
        64%  { transform: translateX(0); }
        100% { transform: translateX(0); }
}
#h1span{
	color:$secondary-color;
	font-size:40px;
	text-align: center-right;
	margin: 0 auto;
	@include mobile-only {			
		text-align: left;
	}
}

/////////////////////////////////////header

/////////////////////////////////////Navigation
nav{
	grid-area: nav;
	width: 100%;
	background-color:$quaternary-color;		
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: $tertiary-color;
		li {
			float: left;
			margin: 0 40px;
			@include mobile-only{
				margin: 0 5%;			
			}
			a {
				display: block;
				color: white;
				font-size: 14px;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;  
				transition: transform 300ms ease-in, background-color 300ms ease-in;
				&:hover {
					background-color: #111;
					color: $secondary-color;
					transform: scale(1.15);
				}	
			}
		}
	}	
} 

.active {
	transform: scale(1.15);
	a{
		background-color: #111;
		color: $secondary-color;	
	}
}
/////////////////////////////////////////Navigation

////////////////////////////////////////MAIN GRID

ul li {	
list-style-type: none;
}
#cat {
	width: 175px;
	height: 175px;
	margin: 55px 57px;
	border: 3px solid $secondary-color;
	border-radius: 50%;
	animation-name: cat;
	animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	@include mobile-only{
		margin:40px 10px;
		border: 3px solid $secondary-color;
		border-radius: 50%;
    }
}
@keyframes cat {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-35px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

#a {
	grid-area:a;
	background-color: $quaternary-color;
	@include mobile-only {
		width:100%;
		min-width: 300px;
		padding: 10px 5px;
	}
}

#homeb {
	grid-area:b;
	background-color: $quaternary-color;
}

#b {
	grid-area:b;	
	padding: 30px 40px;
	background-color: $quaternary-color;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-areas: 
	"g h h h h"
	"i j j j j"
	"k l l l l"
	"m n n n n"
	"o p p p p"
	"q r r r r"
	"s t t t t"
	"u v v v v"
	". w w x x"
	;
	@include mobile-only {
		width:100%;
		min-width: 300px;
		padding: 10px 5px;
	}
	h3{
		background-color: $tertiary-color;
		font-size:20px;
		font-weight: 700;
		text-align:center;
		padding: 10px 0;
		color:$secondary-color;
		width: 540.33px;
		margin: 4px 0px 0px -27px;
		include mobile-only {
			width: 100%;
			margin: 4px 0px 0px 5px;
		}
	}
	h5 {
		margin-block-start: 0;
		margin-block-end: 0;
	}
	li {
		margin: 5px 0;
		@include mobile-only{
			margin: 5px 0px;
			white-space: normal;
			padding: 0 4px;
		}
	}
}
	
.cvimg {	
	border: 2px solid $secondary-color;
	margin: 0px 0px 0px 37px;
	@include mobile-only {
		margin: 0px 0px 0px 20px;
	}
}
////////////////////////////////ASIDE
#c {
	background-color: $primary-color;
	grid-area:c;
	height:250px;	
	@include mobile-only{	
		max-width:175px;
		background-color:$quaternary-color;
    }
}
.aside-title {
	background-color: $tertiary-color;
	font-size:20px;
	font-weight: 700;
	color:$secondary-color;
	padding: 4px 0;
	text-align: center;
	width: 288px;
	height: 30px;
	margin: 10px auto;
	@include mobile-only {
		width: 100%;
	}
}
#d {
	grid-area:d;		
	background-color: $primary-color;
	ul{
		padding-inline-start:0;		
		li{	
			padding: 5px 30px;
			text-align:center;
			animation-name: aside;
			animation-duration: 2s;
			@include mobile-only{
				padding: 2px 30px;
			}
		}
	}	
}
@keyframes aside {
	0%   {color: $primary-color;}
	100% {color: $tertiary-color;}
}

#e {
	grid-area:e;	
	background-color: $primary-color;
	p {
		padding: 10px 30px;
		text-align:center;
		animation-name: aside;
		animation-duration: 2s;
		@include mobile-only {
			padding: 10px 60px;
		}
	}
}

#f {
	grid-area:f;	
	background-color: $primary-color;
	img {
		margin: 10px 9px;
		animation: wiggle 0.5s;
		@include mobile-only {
			margin-left: 7%; 
			margin-right: 7%;
		}
	}
}
@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/////////////////////////////////////ASIDE
/////////////////////////////////MAIN GRID
//////////////////////////////////IMAGE SLIDER
#slideshow {
	overflow: hidden;
	height: 340px;
	width: 600px;
	margin: 0 auto;
	@include mobile-only {
		height: 283‬px;
		width: 500px;
	}
}

.slide-wrapper {
	width: 2400px;
	animation: slide 18s ease infinite;
	@include mobile-only {
		width: 2000px;
		animation: mobile-slide 18s ease infinite;
	}
	
}

.slide {
	float: left;
	height: 340px;
	width: 600px;
	@include mobile-only {
		height: 283‬px;
		width: 500px;
	}
}
@keyframes slide {
	0% 	{margin-left: 0px;}
	15% {margin-left: 0px;}
	25% {margin-left: -600px;}
	40% {margin-left: -600px;}
	50% {margin-left: -1200px;}
	65% {margin-left: -1200px;}
	80%	{margin-left: -1800px;}
	95% {margin-left: -1800px;}
}

@keyframes mobile-slide {
	0% 	{margin-left: 0px;}
	15% {margin-left: 0px;}
	25% {margin-left: -500px;}
	40% {margin-left: -500px;}
	50% {margin-left: -1000px;}
	65% {margin-left: -1000px;}
	80%	{margin-left: -1500px;}
	95% {margin-left: -1500px;}
}

//////////////////////////////////IMAGE SLIDER
////////////////////////////////ABOUT

#g {
	grid-area:g;
}
#h {
	grid-area:h;
}
#i {
	grid-area:i;
}
#j {
	grid-area:j;
}
#k {
	grid-area:k;
}
#l {
	grid-area:l;
}
#m {
	grid-area:m;
}
#n {
	grid-area:n;
}
#o {
	grid-area:o;
}
#p {
	grid-area:p;
}
#q {
	grid-area:q;
}
#r {
	grid-area:r;
}
#s {
	grid-area:s;
}
#t {
	grid-area:t;
}
#u {
	grid-area:u;
}
#v {
	grid-area:v;
}
#w {
	grid-area:w;
}
#x {
	grid-area:x;
}
///////////////////////////ABOUT
//////////////////////////////PORTFOLIO

#portb {
	grid-area: b;
	background-color: $quaternary-color;
	display: grid;
	padding: 10px 3%;
	grid-template-columns: 33.3333% 33.3333% 33.3333%;
	grid-template-areas: 
	"portg porth porti"
	"portj portk portl"
	"portm portn porto"
	;
	@include mobile-only {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		"portg porth"
		"porti portj" 
		"portk portl"
		"portm portn"
		"porto ."
		;
	}
}	
#portg {
	grid-area:portg;
}
#porth {
	grid-area:porth;
}
#porti {
	grid-area:porti;
}
#portj {
	grid-area:portj;
}
#portk {
	grid-area:portk;
}
#portl {
	grid-area:portl;
}
#portm {
	grid-area:portm;
}
#portn {
	grid-area:portn;
}
#porto {
	grid-area:porto;
}
.imgcontent {
	padding: 10px;
	border-radius: 10px;
	color: $tertiary-color;
	transition: background-color 500ms;	
	&:hover{
		background-color: $primary-color;
	}
	a {
		
		text-decoration: none;
	}
	p {
		font-size: 14px;
		font-weight: 600;
		text-align:center;
	}
}

.tile{	
	img {
		width: 100%;
	}
}
///////////////////////////////////CONTACT
#contb{
	grid-area: b;
	background-color: $quaternary-color;
	padding: 20px;
}
///////////////////////CONTACT FORM
.contact {
	width: 100%;
}
#name {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
#email {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
#phone {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
#message {	
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
}

///////////////////////////////////CONTACT
///////////////////////////FOOTER
footer {
	background-color: $tertiary-color;
	margin:0;
	padding: 0;
	@include mobile-only {
		width: 100%;
	}
	p {
		color: $secondary-color;
		margin:0;
		padding: 0;
	}
	a {
		color: $secondary-color;
	}
} 
//////////////////////////////////FOOTER